.login-page {
  .box {
    margin: 0 0 0 auto;
    
    max-width: 30rem;
    text-align: right;
  }
  .box input{
    text-align: right;
  }

}
.page{ 
  background-image:url("../assets/images/group-152.svg");
  background-repeat: no-repeat;
  background-size:1077px;
  height: 600px;
  background-color: white;

}