
.Alumit-14 {
    width: 1660px;
    height: 934px;
    padding: 0 0 0 0;
  }
  .Logo {
    width: 162px;
    height: 85px;
    margin: 1px 0 58px 179px;
  }
title {
        width: 367px;
        height: 120px;
        margin: 0 0 52px 32px;
        font-family: Heebo;
        font-size: 48px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: right;
        color: #0a0a0a;
      
}
.label {
    width: 399px;
    height: 30px;
    font-family: Heebo;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: #0a0a0a;

}
.span{
    text-align: right;

}
.checkbox{
    float:right;
    display: block;

}